@tailwind base;
@tailwind components;
@tailwind utilities;

.react-beautiful-dnd-draggable {
  transition: transform 0.2s;
}

html {
  background-color: #2C2C30;
  color: #E5E5E5;
}

/* use  overflow-y-scroll scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-[#35353C] scrollbar-track-[#27272C] scrollbar-track-rounded-full */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f57;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #27272C;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4A4A4F;
}

::-webkit-scrollbar-thumb:active {
  background-color: #4A4A4F;
}

::-webkit-scrollbar-corner {
  background-color: #27272C;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  display: none;
}