@tailwind base;
@tailwind components;
@tailwind utilities;

.react-beautiful-dnd-draggable {
  transition: transform 0.2s;
}

html {
  background-color: #2C2C30;
  color: #E5E5E5;
}

.modal {
  padding: 5rem;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #35353C;
  transition: 200ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.493);
}